.BookContainer{
  width: 100%;
  width:100%;
  display: flex;
  justify-content: space-between;
  background: #8cebd3;
  padding: 10px;
}

.demoPage {
  background: white;
  color: #000;
}

.TopBanner{

  margin: 0;
  width: 100%;
  height: 8vh;
  background: #eb4745;

 
  display:flex;
  align-items: center;
}


 .MainTitle{
 font-size: 38px;
  color: white;
  font-family:forgore;
  src:url('.assets/Forgore.otf') format('otf');
 }

.TitleSuffix{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  color: white;
}

.BottomBanner{
  width: 100%;
 
  background: #f69185;
  display: flex;
  flex-direction: column;
}

.Icon{
  height: 20px;
  margin: 2px;
  cursor: pointer;
}

.Icon:hover{
 background: #a6a6a6;
}

.CircleIcon {
border-radius: 40px;
height: 90%;
width:auto;
margin: 10px;
}


.InfoPanel{
  width: 90vh;
  height: 50vh;
  background: rgb(255, 255, 255);
    border: 1px solid #00000026 ;
}

.InfoTitle{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #000;
  padding: 5px;
}

.InfoText{ 
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
}

.TitleInput{
 width: 20vh;
}
.BioInput {
  height: 70px;
  width: 200px;

 }

.ArticleSubmit{
  width: 20vh;
}