.MainWindow{
  width: 100%;
  width:100%;
  display: flex;
  justify-content: space-between;

  gap:10px;
}

.BookContainer{
  width: 60%; 
  display: flex;
  gap:10px;
  /* background: red; */
}

.SelectorPanel{
  background: #ffffff;
   width: 20%;
   max-height:400px ;
   max-width: 200px;
   resize: both;
   overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  font-family:Sen;
text-align: center;
color:black
}

.BookNumberInput{
  width: 25px;
  text-align: center;
}
.InfoPanel{
  width: 50vh;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
}

.TopBanner{

  margin: 0 0 10px;
  width: 100%;
  height: 8vh;
  background: #eb4745;

  display:flex;
  align-items: center;
  justify-content: space-between;
}
/*The LEFT porton of divs under TopBanner */
.TopLeftBannerGroup{
  display:flex;
  align-items: center;
  height: 8vh;

}
/*The RIGHT porton of divs under TopBanner */

.TopRightBannerGroup{
  display:flex;
  align-items: center;
  height: 8vh;
  gap:10px;
  margin-right: 10px;
}

.BannerButton{
  height: 40px;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: 1px solid transparent;
  border:0px;
  color:white;
  font-family: sen;
}

.BannerButton:hover{
  outline: 1px solid #ffffff24;
  background-color: transparent;
  color:white;
  border: none;
}

 .MainTitle{
 font-size: 40px;
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  src:url('.assets/Forgore.otf') format('otf');
 }

.TitleSuffix{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: white;
}

.BannerText{
 color:white;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 12px;
   margin-left: 10px;
}

.BottomBanner{
  width: 100%;
   margin: 10px 0 0 0;
  font-family:Sen;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.Icon{
  height: 20px;
  cursor: pointer;
}

.EditIcon{
  height: 40px;
  background: #efefef;
  border-radius: 10px;
  bottom: 0px;  
  cursor: pointer;
  outline: 1px solid #e4e4e4;
}

.EditIcon:hover{
 background: #ffffff;
}

.CircleIcon {
border-radius: 40px;
height: 80%;
width:auto;
margin: 10px;
}




.InfoTitle{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #000;
}

.InfoText{ 
  font-size: 12px;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 15px;
  background: #f2f2f2;
  border-radius: 5px;
  padding:5px;
}

.EditBioInput{

}

.bracket{

}

.TitleInput{
 width: 20vh;
}
.BioInput {
  height: 70px;
  width: 500px;
 }

.ArticleSubmit{
  width: 20vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



